@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.page-title {
  background: #6796ee;
  width: 100%;
  height: 100px;

  h1 {
    text-align: center;
    font-size: 30px;
    color: #fcfcfc;
    padding: 20px;
  }
}

.page-data {
  background: #a2ffc9;
  height: calc(100vh - 100px);
}