<div class="listing">
  <h2>Listing</h2>

  <button (click)="listCompanies()">GET COMPANIES</button>

  <li *ngFor="let company of companies">
    <strong>Name:</strong> {{ company.name }} -
    <strong>Segment:</strong> {{ company.segment }} <br>
  </li>
</div>