.listing {
  height: 300px;
  padding: 20px;

  button {
    background: #6796ee;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;

    &:hover {
      background: #3863b3;
    }
  }

  li {
    padding: 8px;
    margin-top: 10px;
    list-style-type: none;
  }
}