<div class="filter">
  <h2>Company Filter</h2>

  Filter: <input type="text" (input)="filterCompanies($event)">

  <li *ngFor="let company of filteredCompanies">
    <strong>Name:</strong> {{ company.name }} -
    <strong>Segment:</strong> {{ company.segment }} <br>
  </li>
</div>